body {
    font-family: 'Inter', sans-serif;
    background-color: #000730;
    color: #fff;
}

.hi {
    animation: wave 1s infinite;
}

@keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
}